*{
    font-family: "Poppins", sans-serif;
}

.banner {
    background-image: url(../image//blue\ &\ pink.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
}

.skill-padding{
    padding: 60px 0;
}